
body{
  margin:0;
  font-family:sans-serif;
  background: linear-gradient(135deg,#6a11cb,#2575fc);
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.page-container{
  text-align:center;
}
.page-box{
  background:white;
  color:black;
  padding:30px;
  border-radius:20px;
  font-size:22px;
  box-shadow:0 0 20px rgba(0,0,0,0.3);
  margin-bottom:20px;
}
.btn{
  background:#6a11cb;
  padding:12px 25px;
  border:none;
  border-radius:10px;
  color:white;
  font-size:18px;
  cursor:pointer;
}
